[2015-11-10 08:20] SekibOmazic opened #2 "Write a blog post about calling react-native from Elm"
You saw this issue coming, didn't you :-)

[2015-11-10 09:48] ohanhi commented on #2
@SekibOmazic 😄
This is the best possible issue for this repository at this point! Thank you, me and @staltz will write a post about this. Once that is done, I will close this issue with a link to the article.

[2015-11-14 16:35] ryyppy commented on #2
This is really exciting! :+1:

[2015-11-25 02:30] GTDev87 commented on #2
Oh my god.  I want this to exist.  Make it so!  How can I contribute?

[2015-11-27 11:47] paulyoung opened #5 "Logo idea"
I made these in vector format if there's any interest in using them.

![elm-native-512](https://cloud.githubusercontent.com/assets/84700/11440614/05cd07da-94fc-11e5-8e7e-a55fe708191b.png)

![elm-native-blue-512](https://cloud.githubusercontent.com/assets/84700/11440603/f6afe0ba-94fb-11e5-894a-8c498ea7dab7.png)

[2015-11-30 12:51] ohanhi commented on #5
Nicely done! We could also investigate whether it's feasible to use the pieces of the Elm tangram to convey the React atom.

[2015-11-30 13:02] paulyoung commented on #5
That's what I was going for :smile:

[2015-11-30 13:40] ohanhi commented on #5
Well yeah.. :D
What I meant by that was "using only the 7 pieces of a single tangram puzzle".

[2015-11-30 13:42] paulyoung commented on #5
I couldn't see an obvious way to make it work but can revisit.

[2015-11-30 16:34] ohanhi commented on #5
@paulyoung Actually, just submit a PR with your first logo suggestion in place of the current one, and let's call it a day. It's really good-looking! :sparkling_heart:

[2015-12-01 12:03] #5 closed, assigned to nobody

[2015-12-01 12:18] ohanhi opened #8 "Better name for the project"
_Elm Native_ is not a very good name for the project, so feel free to submit your ideas on what would be better.
## Why

The dual meaning of "Native" has caused us some trouble already. In short, _Elm.Native_ refers to the JavaScript side of things, while _React Native_ refers to the Objective C / Java on the mobile devices.

Ideally I think the project name would capture the word "Elm" and have a

[2015-12-01 12:22] paulyoung commented on #8
I’ve also noticed the ambiguity around the word “Native”.

I actually think that React should de-emphasize the word "Native" too, and the team seemed to agree: https://twitter.com/py/status/573521964934934528

Along those lines, I had begun to wonder how much of elm-native would “just work” with React on the web side, and if this project should support React in general, with "native" being an impo

[2015-12-01 12:26] staltz commented on #8
- El Nativo (in Spanish, "The Native")
- `elm-mobile` (because why not?)

[2015-12-01 12:28] paulyoung commented on #8
I like `elm-mobile`. I've seen some proof of concepts for React on the desktop so it could be something to consider.

[2015-12-01 12:29] cem2ran commented on #8
I would go with the unoriginal name of `elm-react-native` for clarity and discoverability.

[2015-12-01 12:36] paulyoung commented on #8
Also along the "unoriginal" lines (and to expand on my earlier comment) I'd like to suggest `elm-react` if that's deemed to be correct.

[2015-12-01 12:36] paulyoung commented on #8
On the opposite end of the spectrum I'd like to propose "Helm":
- **noun:** steering mechanism for a vessel; a mechanical device by which a vessel is steered

[2015-12-01 12:48] ohanhi commented on #8
Some other out-there ideas:
- Tangram (the Elm logo is a [tangram](https://en.wikipedia.org/wiki/Tangram))
- Elemental
- Ulmus (Latin genus for the elm species)

[2015-12-01 12:48] staltz commented on #8
`elm-react-native` is a good option, but I'd avoid `elm-react` unless we seriously consider supporting React DOM.

[2015-12-01 12:52] cem2ran commented on #8
@staltz my exact thought. elm-native is inherently coupled to react-native for native mobile rendering.

[2015-12-01 12:58] paulyoung commented on #8
How about "Element"?

There are some interesting [definitions](https://www.google.com/search?q=define:+element) that could apply here and also has obvious connections to the atom which is associated with React.

[2015-12-01 13:18] sztobar commented on #8
+1 for avoiding `react` in name. `elm-mobile` or `ulmus` sounds good to me.

[2015-12-01 13:32] ir4y commented on #8
`elm-mobile` +1

[2015-12-01 13:34] paulyoung commented on #8
Given the discussion so far, I still like `elm-native`.

[2015-12-01 14:07] mk commented on #8
Since the project should enable you to write native apps with Elm I like the name `elm-native`. I also do like it better than `elm-mobile` which might as well be just plain Elm in the browser.

[2015-12-01 15:50] davidkpiano commented on #8
Since you're propagating `elm` across different languages, why not `elm-forest`? :deciduous_tree:

[2015-12-01 19:50] evancz commented on #8
I am pretty into "literal names" with all the Elm stuff I do. So the compiler is elm-compiler, and you've got stuff like elm-html, elm-http, elm-package, elm-markdown, etc. I hope the community follows this pattern. Just tell people what it is.

I have thought of all sorts of tree puns and I think they are all things that you'd regret later. I'm not into the Latin because no one knows Latin.

The

[2015-12-01 20:03] staltz commented on #8
@evancz both Android and iOS are supported platforms. From the perspective of Elm integration, the React Native API is the same for both platforms. So `elm-mobile`? (Because `elm-html` isn't `elm-html-rendering`). The complication with `elm-mobile` comes from the possibility that React Native might one day not be just about mobile platforms. It may target OSX for desktop apps, or Linux or Windows.

[2015-12-01 20:23] evancz commented on #8
`elm-html-rendering` isn't a thing because the rendering API is called HTML. If the rendering API is "react native" and always will be, maybe `elm-react-native` the way to go! That would be the most literal name :)

[2015-12-01 20:25] evancz commented on #8
There's also the fact that everyone who asks when this will start existing naturally calls it "Elm Native" for some reason or another. Maybe the thing that people want it to be named (and will Google for) is the right name?

[2015-12-01 20:28] evancz commented on #8
Oh, but the root issue is `Native` cannot be the module namespace?

[2015-12-01 20:28] evancz commented on #8
I'll do some more thinking for non-literal names in case that's a way out of this!

[2015-12-01 21:11] evancz commented on #8
If the root issue is that you cannot name modules `Native.*` then maybe the right thing is to call it `elm-native-ui` and the module namespace would be `NativeUI.*`. This name is kind of nice in that the thing that is actually "native" is the UI, not any of the other stuff. If more platforms are added, the point will still be that you are getting "native UI" on all those platforms. This also makes

[2015-12-01 21:24] staltz commented on #8
That sounds pretty Ok IMO.

[2015-12-02 08:24] ohanhi commented on #8
Considering @evancz ~~probably~~ certainly knows what he's talking about, let's go with `elm-native-ui`.

Evan, we'd be honored if you opened a PR with this new name! I know you're busy, so just editing the Readme is fine. Once that's done, I'll create a GitHub organization with the same name and move the repo there.

Thanks everyone for the conversation! :heart:

[2015-12-02 11:34] paulyoung commented on #5
I put this together for Dribbble, wanted to share.

![elm-native-dribbble](https://cloud.githubusercontent.com/assets/84700/11529687/a083238e-98e6-11e5-9519-8cde73bca9d2.png)

[2015-12-02 12:10] ohanhi commented on #5
👍

[2015-12-04 14:21] zhangcheng commented on #2
+1

[2015-12-14 10:06] #8 closed, assigned to nobody

[2015-12-21 18:29] thisredone commented on #2
:+1:

[2016-01-28 00:00] tlvenn opened #11 "Leverage new RN JS Navigation"
Facebook is working on a revamp of the JS Navigator and the preview is available here: https://github.com/ericvicenti/navigation-rfc

@ohanhi I believe this would solve the major blocker with the current implementation of the Navigator.

[2016-01-28 16:55] ohanhi commented on #11
Oh wow. I will have to look into this. Thank you very much, @tlvenn!

[2016-01-29 01:24] tlvenn commented on #11
Well I am glad I could be of help and thank you, @paulyoung and @staltz for this awesome project !

[2016-02-12 22:03] doppioslash commented on #2
+1

[2016-02-15 11:06] ohanhi commented on #11
Update: this is actually moving along nicely. `NavigationExperimental` is now in RN master branch, and there's some improvements to it already in progress: https://github.com/facebook/react-native/pull/5912

[2016-02-15 11:14] mk commented on #11
We tried updating react native to the current master in order to leverage the new navigation in https://github.com/elm-native-ui/elm-native-ui/compare/master...mk:navigation-experimental but it seems changes to the require polyfill are currently breaking Elm.

We had to move the `F2` etc functions of the generated `elm.js` up a level to get it to work, see https://github.com/elm-native-ui/elm-nati

[2016-02-23 07:19] ohanhi commented on #2
Took my time, but here it is: [Elm Native UI: Writing a React Native app in Elm](http://ohanhi.github.io/elm-native-ui.html) :tada:

[2016-02-23 07:19] #2 closed, assigned to staltz

[2016-02-23 09:25] SekibOmazic commented on #2
:+1:

[2016-02-23 10:24] stereokai opened #13 "Really want to help, what can I start experimenting with?"
I'm excited about this, I really love working with Elm, but my React/React Native experience is limited.

How can I contribute?

[2016-02-23 12:39] ohanhi commented on #13
Thanks for the support!

I am currently upgrading to React Native 0.21.0-rc, which has solid improvements on many fronts compared to the current master branch. Once that's done, I'll try to mold the app into a startappy structure. From then on, the road is pretty open, so I will keep you posted.

[2016-02-23 13:05] stereokai commented on #13
Cheers. So, by then, I think I'll up my React Native & Redux fu, and hopefully, when that time arrives, I'll have something I can contribute. Anything in specific to focus on?

[2016-02-23 13:34] ohanhi commented on #11
@mk Interestingly, the anonymous function has always been there and it works under RN 0.14. But now that I am trying to upgrade to 0.21.0-rc, I am facing the same issue as you did: `Can't find variable: F2`. So strange.

[2016-02-23 13:47] kommen commented on #11
@ohanhi Yeah, I was really surprised by that as well. But what do you mean with "has always been there"? As far as I saw, the anonymous function in the processed version of `elm.js` gets wrapped one more time additionally after upgrading RN.

Sorry for just providing screenshots here, but I found these in my scrap notes when I was digging into the issue.

Before upgrading RN:
![screen shot 2016-02

[2016-02-23 13:56] ohanhi commented on #11
@kommen Where did you get that twice-wrapped file from? I can't see double `(function() {` rows in the compiled elm.js or in DevTools.

Edit: this was further discussed on the Elm Slack.

[2016-02-23 15:59] ohanhi commented on #13
Well the new NavigationExperimental is the main thing I'm after with 0.21.0-rc. That doesn't exist in earlier releases. But I guess one easy way into this project would be just figuring out some of the commonly used RN components (such as `TouchableOpacity`), and providing the helper functions for those. Also, props (aside from styles) can't be passed to components as of now, so if you come up wit

[2016-02-23 16:04] stereokai commented on #13
Nice. I'm on it. Expect some updates later on.

PS. watching the repo as well.

[2016-02-23 16:20] ohanhi opened #15 "Unify syntax for styles, handlers and other props"
Properties for a given component should be a single list, just like in elm-html. Currently only styles can be set for components, and event handler is a separate parameter. Ideally, the component API should be very familiar-looking:

[code]

[2016-02-23 16:24] #13 closed, assigned to nobody

[2016-02-23 16:27] ohanhi opened #16 "Project setup"
Readme should have a step-by-step to get the project up and running for the first time. The Elm build should have a possibility for watching file changes for smoother development.

[2016-02-23 16:33] ohanhi opened #17 "Allow the StyleSheet.create method for styles"
`StyleSheet.create` is the preferred way of providing styles in React Native ([docs](https://facebook.github.io/react-native/docs/style.html#content)).

[2016-02-23 16:39] ohanhi opened #18 "Provide a StartApp-esque API"
Elm developers are familiar with the StartApp pattern, so Elm Native UI should have a similar API.

From [evancz/start-app](https://github.com/evancz/start-app):

[code]

[2016-02-24 07:47] ohanhi commented on #11
The undefined functions issue was circumvented in https://github.com/elm-native-ui/elm-native-ui/pull/14
Our `master` is now using React Native 0.21.0-rc with https://github.com/elm-native-ui/elm-native-ui/pull/19

[2016-02-24 14:14] #18 closed, assigned to ohanhi

[2016-02-25 15:08] #16 closed, assigned to ohanhi

[2016-03-05 04:11] yusefnapora opened #22 "Use virtual-dom instead of VTree"
I'm not sure this is actually a practical idea, but I spent some time looking into making `main` work this week, inspired by [this discussion](https://github.com/elm-native-ui/elm-native-ui/commit/0a35edeb0c21985394b6f3b296140da431aa936c#commitcomment-14303291) linked to from the readme.

The elm compiler enforces that the return type of `main` be either `Element`, `VirtualDom.Node` (aka `Html`) o

[2016-03-15 10:38] ohanhi commented on #22
Closing in favor of #24

[2016-03-15 10:38] #22 closed, assigned to nobody

[2016-03-16 15:00] ohanhi commented on #15
This was done in #25.

[2016-03-16 15:00] #15 closed, assigned to nobody

[2016-04-08 09:06] sudhirvkumar opened #30 "Building elm-make in ubuntu"
@ohanhi Thanks for the great work with the PoC.

Its working fine in Mac with the Binary elm-make in the built folder.

When I try to build elm-make in Ubuntu with GHC 7.10.3 and Cabal 1.22.4 everything builds just fine.

I used the modified BuildFromSource.hs file which is available as a Gist
https://gist.github.com/sudhirvkumar/cc8f6c55ca49876e07f3906d774214eb

I have forked the repositories int

[2016-04-08 09:29] mk commented on #30
@sudhirvkumar this sounds it's using the wrong `elm-make`. I've had cases where `which elm-make` would return the correct one but `npm` didn't. Try running

[code]

manually and if that works renaming the original `elm-make`.

[2016-04-08 09:49] sudhirvkumar commented on #30
@mk Thanks. I moved the /usr/bin/elm-make to elm-make-orig and copied the compiled elm-make to /usr/bin and it worked!!

Thanks! :+1:

I am going to use elm for building React Native Apps. Will make progress and send PRs.

[2016-04-08 09:57] #30 closed, assigned to nobody

[2016-04-08 17:28] sudhirvkumar opened #32 "elm-native-ui/core repository doesn't have option to create issues"
@mk @ohanhi @eeue56
elm-native-ui/core repository doesn't have option to create issues.

There are a few blockers which are stopping me from using the core as is. I had to make changes in the src/Native/Runtime.js to make it work.

Can you please enable issues for that repository?

[2016-04-08 17:35] sudhirvkumar opened #33 "elm-native-ui/core: Symbol throws an error and App doesn't work"
@mk @ohanhi @eeue56

in `src/Native/Runtime.js` the following lines throw error in Redbox and nothing works.

`// React elements have a`$$typeof`marker whose value is an
            // ES6 Symbol.  If`Symbol`does not exist, we bail out early.
            if (typeof(window.Symbol) === 'undefined') {
                throw new Error(
                    'You seem to be running on an unsupported platf

[2016-04-08 17:37] sudhirvkumar commented on #33
I had to comment out the whole if block to make the code work.

Also... I had to change the

`function isReactElement(maybeElement) {
                return maybeElement['$$typeof'] === Symbol.for('react.element');
            }`

to simply return true... which is a hack.

I guess we have to use `var REACT_ELEMENT_TYPE =
  (typeof Symbol === 'function' && Symbol.for && Symbol.for('react.element'))

[2016-04-10 06:20] ohanhi commented on #32
Enabled

[2016-04-10 06:20] #32 closed, assigned to nobody

[2016-04-11 21:32] sudhirvkumar commented on #17
@ohanhi I am working on this. Will let you know as soon as I have made some progress.

[2016-04-12 18:42] sudhirvkumar commented on #33
@ohanhi @mk @eeue56 any ideas?

[2016-04-13 04:35] sudhirvkumar commented on #33
Copied this issue to https://github.com/elm-native-ui/core/issues/3

[2016-04-13 04:35] #33 closed, assigned to nobody

[2016-04-14 10:28] sudhirvkumar opened #35 "Production RoadMap"
@ohanhi @mk As I understand to go to Production Quality we need to complete quiet a few things and some are out of my control.
- [ ] Wrappers for Components, Style, Props and APIs
- [ ] Navigator
- [ ] UIExplorer / Examples for Android & iOS
- [ ] Platform Specific Code
- [ ] Single Code Base for all platforms
- [ ] Code sharing between Web & Mobile Apps
- [ ] Tasks (fetch, AsyncStorage,... )
- [

[2016-04-14 15:06] sudhirvkumar commented on #35
There are some major changes coming in Elm 0.17 for let me check the code and figure things out... :) core 3.0.0 to 4.0.0 has some crazy changes!

I guess you guys are already aware of the changes in the elm-lang.

wow!

https://github.com/elm-lang/elm-compiler/blob/dev/src/Nitpick/TopLevelTypes.hs

This changes everything...

[2016-04-19 09:59] ohanhi commented on #35
Hey @sudhirvkumar, you are of course welcome to fork this repository and keep working on your fork from now on, but please use some distinguishable name for your fork. "elm-native/elm-native-ui" is so close to this original organization/repository that it is very easy to confuse the two.

Another thing is that "Elm Native" is really quite awkward. It is used to refer to the so-called native side o

[2016-04-19 09:59] #35 closed, assigned to nobody

[2016-04-19 12:27] sudhirvkumar commented on #35
@ohanhi

With regard to elm-native-ui I am not forking. I am starting from scratch and using 0.17 pre-release code to work on the mobile. "Elm Native" is precisely about the Elm Native Modules...

Elm Native will cover Mobile (iOS, Android and Windows) using React Native and also other platforms like Nodejs for building server side applications and also IoT. Other platforms like Tizen etc. which a

[2016-04-19 12:55] eeue56 commented on #35
Okay, a few things here:
- Please don't call your organization elm-native.
- multiple organizations with the same goal is counter-productive to healthy open source. Why not make PRs against the repos here?
- Please don't fragment the elm ecosystem this way.

[2016-04-19 13:46] sudhirvkumar commented on #35
@eeue56
- I have no interest in fragmenting elm ecosystem. I want elm ecosystem to grow and I would love to contribute as much as I can.
- I am more than happy to send PRs. I have already done that. (check this PR https://github.com/elm-native-ui/elm-native-ui/pull/34)

The issue here is... @ohanhi is waiting for 0.17 to release and I am not waiting ... instead I want to get this ready so that we

[2016-04-19 13:48] sudhirvkumar commented on #35
@eeue56 @ohanhi

I am open for a chat session where we can plan how to move forward faster.

[2016-04-19 13:55] eeue56 commented on #35
This isn't going to happen. 0.17 is _not ready_ yet, and you are wasting your time by basing things on a _unstable API_. If you are interested in this, wait for an alpha! Things are still in flux. People are not going to be able to write production elm-native-ui when 0.17 lands. It's just not feasable. It's a noble idea and desire, and I really really appreciate that. But @ohanhi is right in waiti

[2016-04-19 14:14] sudhirvkumar commented on #35
I already agreed that its silly to choose `elm-native` I could have chosen anything... I chose `elm-native`

I understand that you want me to wait for 0.17 alpha.
You are completely against `elm-native` organization.

Got the message loud and clear. :)

Let me think about it.

[2016-04-19 14:19] eeue56 commented on #35
Yep - sorry, I should've put a " 😛 " there, to show I was agreeing with you :)

I am completely against the naming and rushing into this

Great. These things are things that _will_ happen, because people clearly want it to happen! And I am more than happy to help enable it if it's done in the right manner. When 0.17 lands, I'm sure the energy put into this project will be crazy productive. Let's c

[2016-04-19 14:27] sudhirvkumar commented on #35
@eeue56

No worries :)

I have changed the organization to Atomic Elm... I just changed it so that you will be happy. I might change it to something else later.

https://github.com/atomic-elm

There is nothing wrong in waiting for the right things. I believe there are a lot of things that can be done with just elm code and nothing on the native side. So I will make some progress while I wait.

Tha

[2016-04-19 14:29] eeue56 commented on #35
Perfect! That's definitely the right approach for now, focus on the abstract API written in Elm, and revisit making the implementation with Native at a later point when the state of the world is more clear.

Thanks a lot! 💯

[2016-04-19 19:15] ohanhi commented on #35
Super! Thanks for pitching in, Noah, and thanks for renaming the fork, Sudhir!

[2016-04-26 10:41] hiaw opened #36 "Getting started instruction"
I was trying to get started and I was stuck on the app not running. After a bit of digging, I found that I need to give a different name than MyAppName for package.json, otherwise it would work. What happen is that elm-native-ui/example/package.json already took MyAppName and so compiler will fail.

Please add this bit of instruction to README.md
Edit package.js to give a different name.

Thanks.

[2016-04-27 10:51] ohanhi commented on #36
Interesting, thank you for this observation. So you're saying that using the same name in `package.json` as for the React Native project will make the app fail to launch?

[2016-04-27 10:54] sudhirvkumar opened #37 "Plan"
@ohanhi @eeue56 @mk

As 0.17 Alpha has been released in elm-dev. What is the plan for Elm Native UI?

How can we collaborate?

Thank You!

[2016-04-27 10:57] hiaw commented on #36
Yes.

[2016-04-27 11:56] eeue56 commented on #37
I've spent the morning getting familiar with the new way of doing Native stuff and also working with the new way elm-html works. Gonna need a few more days to think about this.

[2016-04-27 12:11] sudhirvkumar commented on #37
@eeue56 Noah... I am waiting... :)

[2016-04-27 13:18] sudhirvkumar commented on #37
I am closing this issue and will create separate issues for each idea / feature. We can continue our discussion in those issues.

[2016-04-27 13:26] sudhirvkumar opened #38 "Single source code for multiple platforms"
As React Native supports multiple platforms and the probability of React Native apps being developed for multiple platforms is very high. I would like to use the same code base to create both the apps.

https://github.com/elm-lang/html/blob/master/src/Html/App.elm#L170

We can use the same idea which is in elm-lang/html package

We can send the platform as a flag in the index.ios.js and index.andr

[2016-05-01 05:35] sudhirvkumar commented on #37
Will keep this open till we create a plan.

@eeue56 Noah, @ohanhi  Any update on the plan?

[2016-05-01 14:14] ohanhi commented on #37
No, and I really don't think we need to rush it. I work full-time, and only do this as a hobby. As do all the other contributors, I presume. I, or anyone else, do not see it as our _duty_ to develop this project. We simply may decide to do so if/when we have time. So please, do not try and set milestones or deadlines for us. We are well capable of doing it ourselves should we want to. You are welc

[2016-05-01 14:14] #37 closed, assigned to nobody

[2016-05-01 14:27] sudhirvkumar commented on #37
@ohanhi @eeue56 @mk

I was neither setting a deadline nor milestones for any of you. Just wanted to know if you guys have any plans.
Thanks for the reply. I got what your plan for elm-native-ui is. You will work on it when you get some time. I respect that.

For me this is full time job and I am employing people to work on this :)

I wont bother you guys anymore. I thought it would make sense to c

[2016-05-01 14:29] sudhirvkumar commented on #38
@ohanhi sorry for creating this issue even though I am an outsider of this organization. Will not create any more issues or comments after this. Thanks for your patience.

[2016-05-01 14:29] #38 closed, assigned to nobody

[2016-05-13 09:56] #36 closed, assigned to nobody

[2016-05-13 09:58] ohanhi opened #39 "Upgrade to Elm 0.17, or 0.18 once it is released"
This includes forking the new compiler and core.

[2016-06-18 03:17] prozacchiwawa commented on #39
Regarding elm 0.17, I've made a proof of concept port to elm 0.17 that uses ports instead of native code.   It's quite experimental, but does allow me to create a working app based on all the existing work in NativeUi. The result is here:

https://github.com/prozacchiwawa/elm-react-native-experiment

A fork of elm-native-ui is used:

https://github.com/prozacchiwawa/elm-native-ui

[2016-06-28 09:30] HughGrant commented on #2
great great job

[2016-09-28 13:14] GTDev87 commented on #39
This is awesome work.

I'm new to elm and I have been playing with your 0.17 fork.  I'm curious if you have thought/found a way for equivalent functionality to [Http.App.map](http://package.elm-lang.org/packages/elm-lang/html/latest/Html-App) for NativeUI since elm has moved away from signals.

[2016-09-29 00:30] prozacchiwawa commented on #39
Thanks for trying it out. I added NativeUi.map to my fork and updated the example.

[2016-10-01 20:51] GTDev87 commented on #39
Haha that was fast.  Thanks a lot!

[2016-10-04 19:49] ohanhi commented on #39
Just so you know, I think it's fantastic that you are trying to solve some of these problems!

I myself am leaning a little towards maybe waiting for 0.18 at this point, since it should bring custom program types to the table. But I am definitely interested in seeing how you are dealing with this stuff. :)

[2016-10-04 20:06] prozacchiwawa commented on #39
Hey thanks for writing.  It's not really intended for widespread use or a
replacement for deeper work on elm.

Ultimately, I wanted to do an experiment to push ports as far as possible
without writing native code or modifying the compiler or generated code.
Clearly it'll be nicer to have program be more flexible.  Since elm
development is mostly driven by use cases, I was also hoping to contribute

[2016-10-11 08:47] ffigiel opened #40 "FAQ for the choice of react-native?"
When I stumbled upon this project, I was confused - why does elm need react-native to work on mobile? So I asked on #general:

Are you planning on adding a FAQ section? If so, I'd like to suggest explaining the advantage of react-native there.

[2016-10-11 10:18] doodledood commented on #40
It's true that elm can be run using Cordova but it still isn't the same as
a fully native app. Using fully native views instead of web views is much
more performant and most importantly feels like a part of the mobile
ecosystem. React native has the idea that each mobile platform is different
and therefore should be built differently, with different design and
sometimes functionality to fit into t

[2016-10-14 04:06] lukewestby commented on #39
I started working on this with the 0.18 alpha, it totally works without ports and without patching compiler and core!

(Ignore the `Rn`s, I originally named everything `ReactNative`)

![screen shot 2016-10-13 at 10 39 21 pm](https://cloud.githubusercontent.com/assets/1508245/19375430/a9cce3e2-9199-11e6-90c9-47e51e32325f.png)

[2016-10-14 13:21] ohanhi commented on #39
Woo, awesome @lukewestby! I need to try this out for myself. :)

[2016-10-16 08:06] afidegnum commented on #40
Frankly, i will strongly suggest to make elm hook into mobiles SDK or API, i.e NDK or android, and IOS xcode, with this, you are in total control. otherwise, your fate rely on react native application stability and you could be affected if there are unforeseen bugs.  I will be glad if we start from that direction, I believe other developers would volunteer to assist as well

[2016-10-17 07:20] ohanhi commented on #40
@megapctr Right, this is something I have overlooked -- I have worked with Cordova before and sort of assumed everybody knows of its inherent weakness. Essentially, it's just an outdated mobile browser that can call on certain platform features. It is no replacement for native applications.

@afidegnum Yes, Evan also found it questionable to use even React Native in between the Elm output and the

[2016-10-17 08:27] ffigiel commented on #40
@afidegnum @ohanhi I totally dig the idea. I'd like to help, but I probably won't be useful since I don't have any knowledge about android/iOS development or elm's Http library internals :disappointed:

[2016-10-25 19:48] ohanhi commented on #39
This is now done, as of #41. :tada:

[2016-10-25 19:48] #39 closed, assigned to ohanhi

[2016-10-25 20:45] #40 closed, assigned to nobody

[2016-11-30 07:02] ohanhi commented on #11
With #44 and #49, I'd say this is now done!

[2016-11-30 07:02] #11 closed, assigned to nobody

[2016-12-15 00:09] brezal opened #52 "NavigationDemo compilation error: module NativeUI not found"
[code]

[2016-12-15 00:10] brezal commented on #52
This also happened with the Counter example.

[2016-12-15 06:51] benansell commented on #52
@brezal can you try running the following from the elm-native-ui/examples/NavigationDemo directory:

[code]

[2016-12-16 21:30] jsteiner opened #53 "Proposal to remove generator code"
In [a recent commit](https://github.com/ohanhi/elm-native-ui/commit/2a40e869dec18585327b163bd9f20c2d3a15d18b), @jferris and myself ended up spending a majority of our time debugging and figuring out how the generators worked, so we could "write" a couple lines of Elm code. While the generators were meant to reduce time spent, they now seem like an impediment. For repetitive transformations of the

[2016-12-21 12:10] ohanhi commented on #53
@jsteiner Yeah, I suppose that'd be okay. This project does not support (or even claim to) all of React Native's core anyway. If anything, having everything generated in there is miscommunication as it stands.

[2016-12-27 00:49] robertkluin commented on #52
Probably missed the README that talks about elm_self_publish.

[2017-01-07 17:11] #53 closed, assigned to nobody

[2017-01-25 10:53] kristianmandrup opened #59 "Suggestion: Use Exponent RN wrapper framework!?"
Exponent is like Rails for React Native, makes it much, much easier to build an app on React Native!

https://getexponent.com/

https://docs.getexponent.com/versions/v12.0.0/index.html

https://www.youtube.com/watch?v=7lZtV-rIAmY

New project template (RN template with a few extras for exponent integration)
https://github.com/exponent/new-project-template

[2017-01-25 12:26] kristianmandrup opened #60 "Unclear getting started documentation"
"Go ahead and copy the files from the examples in your React Native app directory now."
Where exactly do I copy the examples files to? I assume I copy a directory from examples with all its files into the React app root folder created by `react init` ??
Please make this clearer in the docs and include a concrete example for setting up one of these example projects. Thanks!

[2017-01-25 12:57] kristianmandrup commented on #60
So I copied all the files from the Counter example into my ReactNative app folder, overwriting the `index` files for ios and android:

<img width="148" alt="screenshot 2017-01-25 13 55 07" src="https://cloud.githubusercontent.com/assets/125005/22291346/230c7ac0-e306-11e6-9a30-a9d5bbf16750.png">

[code]

[2017-01-25 13:04] dbanck commented on #60
Might be a silly question, but did you install Elm? Binaries like `elm` and `elm-make` should be in your `$PATH`.

Have a look at the [Elm docs](https://guide.elm-lang.org/install.html) for how to install it.

[2017-01-25 13:11] kristianmandrup commented on #60
I had it installed. But my elm installation was corrupted when I tried to update my node and npm using brew, so I had to reinstall node and elm from .pkg files. Now elm is working again.

But now is using Elm Platform 0.16, not sure this is compatible? Hate all this config stuff!!

[code]

[2017-01-25 13:13] kristianmandrup commented on #60
Now I installed elm 0.18 via `npm i -g elm`

[2017-01-25 13:14] kristianmandrup commented on #60
This is more like it!

[code]

Now I get native package problems!?

[code]

[2017-01-25 13:16] kristianmandrup commented on #60
If we could use Exponent (created by core team members of RN) with Elm it would make this path much easier as per #59

[2017-01-25 13:18] cem2ran commented on #60
Exponent wouldn't solve the above problem.

[2017-01-25 13:19] dbanck commented on #60
To which path did you clone `elm-native-ui` to?
Have a look at the `elm-package.json` and modify this block:

[code]

that `../../src` matches the `elm-native-ui/src` folder.

[2017-01-25 13:27] kristianmandrup commented on #60
Thanks, will do. When I manage to get it working I will update the guide to include proper nOOb setup, config, install and run instructions ;)

[2017-01-25 13:29] kristianmandrup commented on #60
Also would love if one or more of you guys would help me out integrating with Expedient. Then I might create a project generator as well to avoid this manual config process.

[2017-01-25 16:05] kristianmandrup commented on #60
@dbanck Cool ;)

Changed it to:

[code]

[code]

[2017-01-25 16:11] kristianmandrup commented on #60
Now I'm not sure about this part:

[code]

I copied the files from `examples/Counter` into `MyAppName` folder, so I have

`AppRegistry.registerComponent('Counter', () => component);` in `index.ios.js`, so in this case I rename it to: `AppRegistry.registerComponent('MyAppName', () => component);` ??

How do I use/install this `elm_self_publish` in my project? or do I install globally via `pip`? It

[2017-01-25 16:23] kristianmandrup commented on #60
I'm guessing I need to copy the raw code/file at https://raw.githubusercontent.com/NoRedInk/elm-ops-tooling/master/elm_self_publish.py ??

[2017-01-25 16:26] kristianmandrup commented on #60
Now I get error:

[code]

Fuck! Someone please write a proper guide for how to get this shit running! :)
Thanks!

[2017-01-26 07:38] ohanhi commented on #60
I am sorry you are experiencing problems, but this is a very experimental technology. You are expected to get problems during development, too, and there will likely be no documentation at all concerning those issues. For now, I feel like the "Getting started" guide is clear enough for most people who are interested in contributing to this project. Those people are definitely the target group at t

[2017-02-01 15:44] ferologics commented on #52
This is inteded behaviour, the readme just doesn't explicitly state that

after you use `elm_self_publish.py` on one of the examples it'll compile

[2017-02-03 09:50] ohanhi commented on #52
Does someone want to make a PR to improve that section of the README?

[2017-03-03 13:28] kyasu1 opened #66 "Use of elm-github-install"
As you may know [elm-install](https://github.com/gdotdesign/elm-github-install) allows installing elm-packages from github repositories. However it fails to install this package since there is no version tags. After reading carefully the docs, I found defining the `dependency-source` in my `elm-package.json` helps elm-install to find this repository and install it.

[code]

But there is still a pr

[2017-03-07 04:49] brezal commented on #52
Thanks for all of the responses. There hasn't been much activity here in over a month. I will close the issue for now.

[2017-03-07 04:49] #52 closed, assigned to nobody

[2017-03-09 12:50] kyasu1 commented on #66
After reading the README of `elm-install` carefully, I noticed that we could specify a commit hash as a `ref` value. So if we want to install the latest commit of `elm-native-ui`, the `elm-package.json` becomes like this.

[code]

Although you need to set the `ref` value when the package is updated, this is much simpler than manually cloning repository. And the whole installation process becomes p

[2017-03-09 12:50] #66 closed, assigned to nobody

[2017-03-10 05:30] kyasu1 commented on #66
I have found a way to ignore some directories when RN packaging [here](http://stackoverflow.com/questions/41813211/how-to-make-react-native-packager-ignore-certain-directories). Place a file called `rn-cli.config.js` at the root project directory with the following contents.

[code]

With this file included we no longer need to remove example directories, the whole process becomes pretty straightf

[2017-03-15 09:59] jonlaing opened #70 "Contribution Guide?"
Hi, I'm very new to Elm, but I'd like to get into it. I'm a full-time JS dev though, and I'm a big fan of React Native. I'd love to contribute what little time I have to furthering this project, but I'm not exactly sure where/how to get started.

If there were a guide on what the preferred way to contribute was, that would be great. Also, is there a guide somewhere on how you're doing the Elm->JS

[2017-03-16 15:01] ohanhi commented on #59
In the long run, the goal is to become less dependent on React Native as a platform, so it doesn't really make sense for us to put another level of depency on the current model.

[2017-03-16 15:01] #59 closed, assigned to nobody

[2017-03-21 00:33] Qata commented on #17
I'm guessing no progress has been made in the last year?

[2017-03-21 08:47] ohanhi commented on #17
@Qata, yeah I think Sudhir has abandoned his endeavors here.

[2017-03-22 02:01] Janiczek opened #71 "Swap order of arguments for ListView.updateDataSource"
This seems like an idiomatic way to write the `updateDataSource`:

[code]

but right now we can't do that - the data source has to be the first argument, so the best the user can currently do is to `flip` the function.

(This is similar to the `*.andThen` debate and BC change in `elm-lang/core` not so long ago).

[2017-03-23 12:29] ohanhi commented on #60
Closing this now, after two months of inactivity. :)

[2017-03-23 12:29] #60 closed, assigned to nobody

[2017-03-23 20:13] ohanhi commented on #70
Hi @jonlaing!

As much as I appreciate the enthusiasm, this is very much an experimental project, and as such it is definitely not the best place to get into Elm. Things may change rapidly, and much of the code is comparable to working on the core of Elm itself. There are many pure Elm projects needing helping hands, though -- those would be much nicer to work with!

The native code, in particular

[2017-03-23 20:13] #70 closed, assigned to nobody

[2017-03-25 20:50] ohanhi commented on #71
Hi, I agree with your reasoning. The data operated on should be the last argument to the function. I'd be up for a PR on this, if you'd like to contribute!

[2017-03-28 20:07] jaischeema opened #74 "Example on how to use refreshControl with ListView"
I have been trying to get `refreshControl` to work with `ListView` but haven't found a way to pass in a `Node a` value as a property in the props list. Am I missing something really obvious here or is there any other work I can make this work?

BTW, have been using this for few days, great work guys 👍 I would like to contribute to make this better but still in my very early Elm days, have to level

[2017-03-31 08:00] #71 closed, assigned to nobody

[2017-04-06 20:52] kylebakerio commented on #70
Does that mean your official advice to anyone who isn't familiar with elm is to go get familiar with elm first before diving in here? (Just clarifying.)

[2017-04-07 17:56] ohanhi commented on #70
Yes, that is precisely what I meant. :)

[2017-04-20 13:05] gabrielperales commented on #17
I'm working on this, there is a  pull request and it seems to work properly but I have some design doubts I would like to discuss

[2017-04-22 13:53] #17 closed, assigned to nobody

[2017-04-23 03:15] #74 closed, assigned to nobody

[2017-08-07 16:25] The1nternet opened #89 "Write a blog post about Current State of elm-native-ui"
It looks like this project hasn't seen an update in a few months.  [The last blog post](http://ohanhi.com/elm-native-ui-update.html) was written about a year and half ago, and everything in the readme still says this project is so experimental no one should use it.  Is this project still alive?  I want to use it for a production project so badly, but I don't know how long I'm looking at waiting fo

[2017-10-03 06:25] ohanhi opened #90 "Maintainer wanted"
I am looking for an interested maintainer for this project.

There are many factors related to this, but here are some:
- My initial goal of seeing if Elm on React Native was possible has been proven to work a long time ago. However, in my opinion React Native as a platform does not really conform to the Elm ideals: things keep breaking all the time.
- I haven't been using the technology myself, w

[2017-10-03 06:26] ohanhi commented on #90
As a first thought: @jsteiner, you've been more active than I have during the past year or so. Would you be interested in this?

[2017-10-05 13:35] jsteiner commented on #90
@ohanhi thanks for offering, but I'm no longer working on any projects with this.

@iancanderson has contributed in the past, and while I don't think he is interested in being a full on maintainer, I do think he has interest in contributor access.

[2017-10-06 16:33] iancanderson commented on #90
Indeed, I would love contributor access if possible. I do think you're right that this project probably won't be the best way to write elm apps on mobile, but it's currently the only "real way" to do so at the moment, so I'll be using it in the short term future.

With contributor access, I'd be willing to give feedback on PRs/issues when I can. I work on a Mac, and work on Purple Train every once

[2017-10-09 04:54] ohanhi commented on #90
All righty, I sent you an invite.

[2017-10-09 20:25] iancanderson commented on #90
Thanks @ohanhi!

[2017-10-10 15:50] jatinderjit commented on #90
@ohanhi We've been using your ideas to develop our company's internal system, which powers both web and native app with the same code base (with a few case statements thrown here and there).
@saleemjaffer and I would like to help with the project. We currently don't have the bandwidth to engage actively, but we can try to start working on some features you might have in your pipeline, and see how

[2017-10-17 06:54] ohanhi commented on #90
@jatinderjit Great! Feel free to work on any features and make PRs. :)

[2017-10-20 17:16] simplystuart opened #91 "Expose TextEllipsizeMode for NativeUi.Properties.ellipsizeMode"
The definition of `ellipsizeMode` is:

`ellipsizeMode : TextEllipsizeMode -> Property msg`

but `TextEllipsizeMode` isn't currently exposed.

[2017-10-20 18:27] #91 closed, assigned to nobody

[2017-12-06 19:39] simplystuart opened #94 "Missing textAlignVertical"
Missing text style prop [`textAlignVertical`](https://facebook.github.io/react-native/docs/0.43/text-style-props.html#textalignvertical) from NativeUi.Style.

[2017-12-11 13:54] renatomassaro commented on #90
Hey all! I'm a bit late to the party but would like to help.

We are building an MMORTS with location-based gameplay. We use Elm for our frontend (Browser / Electron), and plan to use elm-native-ui for our mobile UI. I'd like to help move this project forward (though I probably cannot afford to be a maintainer).

Is there a proper forum / chat we can further discuss elm-ios, which you mention migh

[2017-12-30 10:43] #94 closed, assigned to nobody

[2018-01-22 15:22] llaisdy opened #97 "Porting an Elm web app (using Html) to elm-native"
Dear All

Not really an issue, more a query.  We have a working Elm web app, embedded in a html page, using css files.  I've been using phonegap to create an Android-installable version of this app.  With phonegap I've been basically bundling up all the html, css and js files more-or-less unchanged into the Android app.

We would like to use elm-native-ui instead of phonegap.  I have run the Count

[2018-02-06 06:22] marisawallace commented on #97
@llaisdy this is my understanding, though it may be incorrect:

Because elm-native-ui delegates rendering the actual Native UI to React Native under the hood, the UI components elm-native-ui gives you delegate to React Native Native UI components.

In code, these native components are a totally different "tree" of elements than the one Elm's Html gives you, though there are some similarities. I'm

[2018-02-06 15:42] llaisdy commented on #97
Thanks, I thought as much.  Writing a function to convert the Elm Html components into native ui components is not a bad idea.

[2018-02-06 15:42] #97 closed, assigned to nobody

[2018-06-07 20:55] nateabele opened #98 "Fixes for React Native 0.55"
Just got this up and running on React Native 0.55 and React 16. Outside of removing references to `NavigationCardStack`, `NavigationHeader`, and `NavigationHeaderTitle`, the only other change required (in my non-exhaustive test app, anyway) was this patch to `makeComponent()`:

[code]

Happy to submit a PR, but obviously this breaks the navigation demo. 😞  Let me know your thoughts. Thanks!

[2018-06-07 21:46] akavel commented on #98
Uh oh!

I'm actually just now trying to revive https://github.com/opsb/elm-native-expo-counter

@nateabele  I allowed myself to use your changes and merge them into https://github.com/akavel/elm-native-ui for use in https://github.com/akavel/elm-native-expo-counter. ***HUGE THANKS!!!***

[2018-06-15 18:20] akavel commented on #90
Having a version of ENU [ported to RN 0.55](https://github.com/akavel/elm-native-expo-counter), and inspired by a quote from [a recent post by React Native engineers](https://facebook.github.io/react-native/blog/2018/06/14/state-of-react-native-2018):

I dug deeper into RN, and [managed to find what seems to be the underlying message bus mechanism](https://stackoverflow.com/a/50880277/98528) for p

[2020-06-10 21:30] giulianok opened #99 "[QUESTION] Having some trouble understanding the code"
I'm having a hard time trying to understand this here https://github.com/ohanhi/elm-native-ui/blob/master/src/NativeUi.elm#L69-L71

where is `customNode` defined for example?

[2020-06-12 10:10] ohanhi commented on #99
This is old Elm. Current versions don't have Native modules anymore. But anyway, it's a reference to the function here: https://github.com/ohanhi/elm-native-ui/blob/master/src/Native/NativeUi.js#L112

[2020-06-12 10:10] #99 closed, assigned to nobody